.swiper {
  width: 100% !important;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.swiper-slide {
  background-position: center !important;
  background-size: cover !important;
  /* width: 300px !important; */
  /* height: 300px; */
}

.swiper-slide img {
  display: block !important;
  width: 100% !important;
}

.slider-outer-container {
  width: 80% !important;
  margin-left: 10% !important;
}

.swiper-button-next, .swiper-button-prev {
  display: none;
}